/* Estilos para o grid */
body {
    display: grid;
    margin: 0;
    height: 100vh;
    width: 100%;
    grid-template-areas:
        "header header"
        "aside aside"
        "footer footer";
    grid-template-rows: 100px 1fr 100px; /* Adicionado espaço para o footer */
    grid-template-columns: 400px 1fr;
}

/* Estilos para o header */
header {
    grid-area: header;
    padding: 0;
    background-image: url(../View/IMG/Logo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para o aside */
aside {
    grid-area: aside;
    background-image: url(../View/IMG/cesta.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
    display: flex;
    flex-direction: column; /* Para alinhar os botões verticalmente */
    justify-content: flex-end; /* Alinhar os botões na parte inferior */
    align-items: flex-start; /* Alinhar os botões à esquerda */
}

/* Estilos para o footer */
footer {
    grid-area: footer;
    background-color: #699923;
    color: white;
    text-align: center;
}

/* Estilos para o botão "DOE ALIMENTOS" na parte inferior */
.botao-bottom {
    display: block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #699923;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: left;
    width: fit-content;
    margin-top: auto; /* Empurra o botão para a parte inferior */
    margin-left: 20px; /* Espaçamento entre o botão "DOE ALIMENTOS" e os botões superiores */
}

/* Estilos para os botões na parte superior */
.botoes-top {
    display: flex; /* Coloca os botões lado a lado */
    margin-left: 20px; /* Espaçamento entre os botões superiores */
}

/* Estilos para os botões na parte superior */
.botao-top {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #699923;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: left;
    width: fit-content;
    margin-right: 10px; /* Espaçamento entre os botões superiores */
}

/* Estilos para destacar o botão ativo (por exemplo, a página atual) */
.botao.active {
    background-color: #ff9900; /* Cor de destaque para o botão ativo */
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
}